### ML model
openai
# coqui-tts
scipy
sounddevice
# google-cloud-speech

### fast whisper + pyaudio
faster-whisper >= 0.10.0
sounddevice >= 0.4.6
pyaudio
soundfile
librosa

### Microsoft Graph API
requests
# msal
# msgraph-sdk